.content_detalle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card_detalle{
    background-color: rgba(255, 255, 255, 0.93);
    text-align: center;
    border: 1px solid rgb(109, 3, 3);
    width: 400px;
    height: 650px;
    box-shadow: 0px 0px 5px 9px #fffd;
    border-radius: 10px;
    position: relative;
}

.btn_eliminar{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bolder;
    color: #f9fcfc;
    background-color: #BA0403;
    font-size: 1.3rem;
    padding: 5px;
    width: 40px;
}
.content_tooltip .tooltip{
    visibility: hidden;
    position: absolute;
    background-color:rgba(186, 3, 3, 0.6);
    color: #f9fcfc;
    border-radius: 5px;
    padding: 5px;
    top: 60px;
    right: -30px;
}
.content_tooltip:hover .tooltip{
    visibility: visible;
}

.tNombre{
    margin-top: 20px;
}

.img{
    width: 300px;
    height: 300px;
}

.detalles{
    display: flex;
    flex-direction: column;
}
.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelT{
    width: 40%;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    color: #13916A;
}
.inputD{
    text-align: center;
    background-color: transparent;
    margin-right: 5px;
    width: 30%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #BA0403;
}
.inputD::placeholder{
    color: #BA0403;
}

.input_custom{
    display: none;
}
#img_input{
    width: 99%;
}
.inputA{
    text-align: center;
    background-color: transparent;
    margin-right: 5px;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    color: #BA0403;
}
h4{
    margin-top: 15px;
    text-decoration: overline;
}

.btn_edicion{
    margin-top: 12px;
    padding: .4rem 1rem;
    width: 70px;
    border: 1px solid #16AD80;
    border-radius: 4px;
    background-color: #074331;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,
        0 1px 3px rgba(0, 0, 0, .2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f90), to(#e76a00));
    background-image: linear-gradient(#16AD80 10%, #128864 100%);
}

.back{
    text-decoration: none;
    color: #fff;
}

.select_tipos{
    margin-top: 15px;
    border: 0px;
    text-decoration: none;
    outline: none;
    font-size: 17px;
    color: #f9fcfc;
    background-color: #13916A;
}

.btn_types{
    background-color: #BA0403;
    font-size: 15px;
    border-radius: 50%;
    padding: 1px 5px 1px 5px;
    font-weight: bold;
}

.btn_types_a{
    display: none;
}

.input_errors_d{
    display: none;
}
.input_errors_a{
    position: absolute;
    padding: 2px;
    right: 80px;
    color: #fff;
    background-color: rgba(186, 3, 3, 0.8);
}

.mensaje{
    position: relative;
    top: 5px;
    color: #fff;
    background-color: rgba(186, 3, 3, 0.8);
}