.content_load{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_imagen{
    background-image: url("../img/pokebola.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 600px;
}

.title_error{
    color:#f0f8ff;
    font-size: 1.5rem;
    margin-top: 220px;
    text-align: center;
}

.content_btn{
    display: flex;
    justify-content: center;
}

.content_mensaje{
    width: 65%;
    margin-top: 99px;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    word-break:break-all;
    padding: 10px;
}

/* RESPONSIVE */

/* // Small devices (landscape phones, 360px and up) */
@media (min-width: 360px) {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
   

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   
}



