* {
  margin: 0;
  padding: 0;
}

html{
  border: 2px solid blue;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/img/fondo03.jpg");
  background-size: auto;
  /* background-repeat: no-repeat; */
  min-height: 100vh;
}

.contenedor_home {
  /* border: 2px solid blue; */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .content_home {
    border: 2px solid blue;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content_home {
    border: 2px solid yellow;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}